body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("/weder/pexels-cliford-mervil-2469122.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#heading{
    font-weight: bolder;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2970bc;
}

@keyframes liveImage {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#weather-info img {
    width: 100px;
    height: 100px;
    animation: liveImage 2s infinite; /* This will loop the animation indefinitely */
}
footer {
    color: #fff;
    font-weight: bolder;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}